body {
margin: 0;
padding: 0;
}

#map {
height: 100vh;
}

.legend {
background: white;
padding: 6px 8px;
font: 14px Arial, Helvetica, sans-serif;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
line-height: 24px;
color: #555;
}

.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}